@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: "JetBrains Mono", monospace;
}

body {
  @apply font-mono;
}

.Toastify__progress-bar {
  background-color: white !important;
}

.Toastify__toast-icon {
  svg {
    fill: white !important;
  }
}
